@font-face {
    font-family: "Inter";
    font-weight: 300;
    font-style: normal;
    font-display: auto;
    src: url("@/assets/fonts/Inter-Light.ttf") format("truetype");
  }

@font-face {
    font-family: "Inter";
    font-weight: 400;
    font-style: normal;
    font-display: auto;
    src: url("@/assets/fonts/Inter-Regular.ttf") format("truetype");
  }
  
  @font-face {
    font-family: "Inter";
    font-weight: 500;
    font-style: normal;
    font-display: auto;
    src: url("@/assets/fonts/Inter-Medium.ttf") format("truetype");
  }
  
  @font-face {
    font-family: "Inter";
    font-weight: 600;
    font-style: normal;
    font-display: auto;
    src: url("@/assets/fonts/Inter-SemiBold.ttf") format("truetype");
  }
  
  @font-face {
    font-family: "Inter";
    font-weight: 700;
    font-style: normal;
    font-display: auto;
    src: url("@/assets/fonts/Inter-Bold.ttf") format("truetype");
  }
  