input:-webkit-autofill,
:deep(input:-webkit-autofill:focus) {
  transition: background-color 600000s 0s, color 600000s 0s;
}
:deep(input[data-autocompleted]) {
  background-color: transparent !important;
}
